.popUp {
    position: relative;
    width: 70%;
    left: 15%;
    height: 30vh;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-inner{
    position:relative;
    padding: 32px;
    width: 100%;
    max-width:630px;
    background-color: whitesmoke;
}

.popUp-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}